<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>Write new chat!</h3>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="who are you">
        <br>
        <br>
         <textarea type="text" name="msg" placeholder="write your message here" rows="5" cols="20"></textarea> 
         <br>
         <br>
          <input type="text" name="to" placeholder="add reciver">
          <br><br>
          <button>create chat</button>
    </form>
</body>
</html>